@charset "utf-8";
/* CSS Document */

h1{
    font-size           : 450%;
    text-align          : center;
    padding-top         : 20px;
    background-position : center top;
    background-repeat   : no-repeat;
    color               : #CD5C5C
}

ol#topicpath{
    margin: 0 0 40px 0;
    text-align: left;
    list-style-type: none;
}
ol#topicpath li{
    display: inline;
    list-style-type: none;
}


ul{
    width:300px;
    margin:auto;
    list-style: none;
    display: inline;
    padding:0;
}

.circle {
    position:relative;
    width: 150px;
    height: 150px;
    margin:0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #FFA500;
}
 
.circle a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent:-999px;
    color:#000;
}

p {
    font-size           : 100%;
}

.circle2 {
    position:relative;
    width: 150px;
    height: 150px;
    margin:0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #1E90FF;
}
 
.circle2 a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent:-999px;
    color:#000;
}


.circle3 {
    position:relative;
    width: 150px;
    height: 150px;
    margin:0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #32CD32;
}
 
.circle3 a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent:-999px;
    color:#000;
}