@charset "utf-8";


/*--------------------------------------
  Structure Module
---------------------------------------*/

body {
	background-image: url("./image/castle.jpg"); 
	background-position: right bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*--------------------------------------
  Text Module
---------------------------------------*/


h1 {
	font-size:200%;
	text-align:center;
	padding-top: 90px;
	background-image: url("./image/title.png");
	background-position: center top;
	background-repeat: no-repeat;
}

h2 {
	margin-top:50px;
	margin-bottom:20px;
	padding:5px 15px;
	background:#f5f5f5;
	border-left:#2f4f4f 8px solid;
	font-size: 160%;
	font-weight: bold;
	color:#2f4f4f;
}


h3 {
	font-size: 120%;
	margin: 1rem 2rem;
}

h3:first-letter {
	color: #008080;
	font-size: 150%;
}

table {
	border: medium solid #2f4f4f;
	margin: 1rem 3rem;
}

th, td {
	border: thin solid #2f4f4f;
	padding: 0.1rem 0.5rem;
}

th {
	color: #ffffff;
	background-color: #008080;
}


p {
	padding: 1rem 2rem;
	line-height: 1.8rem;
}

ol, ul {
	padding: 1rem 4rem;
}

li {
	line-height: 1.8rem;
}

address {
	padding: 1rem 2rem;
	font-style: normal;
	text-align: right;
}



a:link {
	color:#3366ff;
	text-decoration:none;
}

a:visited {
	color:#666666;
	text-decoration:none;
}

a:hover {
	color:#ff66ff;
	text-decoration:underline;
}


/*--------------------------------------
  MENU 
---------------------------------------*/





/* ClearFix */

.menu ul {
	height: 1px;
	min-height: 1px;
	/*¥*//*/
	height: 1px;
	overflow: hidden;
	/**/
}

.menu ul :after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
