@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
    padding: 0;
	background-image: url("../image/koruku.gif"); 
	background-position: center bottom;
	background-repeat:repeat;
	background-attachment: fixed;
}

#container {
	width:800px;
	margin:0 auto;
     border-top:7px solid  #2f4f4f;
}







h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    font-size:250%;
	text-align:center;
	padding-top: 30px;
	background-position: center top;
	background-repeat: no-repeat;
	color:#fff;
}


a:link {
		text-align:center;
	color:#555;
	text-decoration:none;
}

a:visited {
		text-align:center;
	color:#558;
	text-decoration:none;
}

a:hover {	
    text-align:center;
	color:#aaa;
	text-decoration:underline;

}





nav{
 	 height: 32px;
 	 margin-bottom: 10px;
     padding: 0;
	 background-color:#fff;
}

nav art {
     display:inline-block;
}

nav ul {
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 100%;
    list-style-type: none;
}


nav ul img {
    width: 200px
}

nav ul img:hover {
    
}


nav ul li {
    margin: 0;
    padding: 0;
    float: left;　
    width: 200px;
    text-align: center;
    font-size: 14px;
}

nav ul li a {
    border-right: 1px solid #666;
    padding: 8px 20px;
    display: block;
    position: relative;
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

nav ul li a:link {
	color:#fff;
	text-decoration:none;
}

nav ul li a:visited{
	color:#fff;
	text-decoration:none;
}

nav ul li a:hover {
    border-color: #fff;
    color:#fff;
    background-color: #fff;
    text-decoration: none;
}


