@charset "utf-8";


/*--------------------------------------
  Structure Module
---------------------------------------*/










/*--------------------------------------
  Text Module
---------------------------------------*/











/*--------------------------------------
  MENU 
---------------------------------------*/





/* ClearFix */

.menu ul {
	height: 1px;
	min-height: 1px;
	/*¥*//*/
	height: 1px;
	overflow: hidden;
	/**/
}

.menu ul :after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
