@charset "utf-8";
/* CSS Document */

body {
    margin                : 0;
    padding               : 0;
    background-image      : url("../image/koruku.gif");
    background-position   : center bottom;
    background-repeat     : repeat;
    background-attachment : fixed;
}


h1 {
    font-size           : 300%;
    text-align          : center;
    padding-top         : 0px;
}

h2{
	font-size:200%
	
	}